{{ define "main" }}
<div class="slds-container_large slds-container_center slds-p-around_large">
    {{- partial "breadcrumbs.html" . }}
    <div class="slds-page-header slds-m-bottom_large">
        <div class="slds-page-header__row">
            <div class="slds-page-header__col-title">
                <div class="slds-media">
                    <div class="slds-media__body">
                        <h1 class="slds-page-header__title slds-truncate">
                            <span class="slds-text-heading_medium">{{ .Title }}</span>
                        </h1>
                        {{- if .Description }}
                        <p class="slds-page-header__meta-text slds-text-body_regular slds-m-top_x-small">{{ .Description }}</p>
                        {{- else }}
                        <p class="slds-page-header__meta-text slds-text-body_regular slds-m-top_x-small">
                            {{ len .Pages }} {{ if eq (len .Pages) 1 }}article{{ else }}articles{{ end }}
                        </p>
                        {{- end }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{- /* SLDS Data Table */}}
    <div class="slds-card slds-card_boundary">
        <div class="slds-card__body slds-card__body_inner">
            <table class="slds-table slds-table_cell-buffer slds-table_bordered" role="grid">
                <thead>
                    <tr class="slds-line-height_reset">
                        <th scope="col" class="slds-text-title_caps">
                            <div class="slds-truncate" title="{{ .Title }}">{{ .Title }}</div>
                        </th>
                        <th scope="col" class="slds-text-title_caps">
                            <div class="slds-truncate" title="Last Published Date">Last Published Date</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{- range .Pages }}
                    <tr class="slds-hint-parent">
                        <th scope="row" data-label="{{ $.Title }}">
                            <div class="slds-truncate">
                                <a href="{{ .Permalink }}" class="slds-text-link">{{ .Title }}</a>
                            </div>
                        </th>
                        <td data-label="Last Published Date">
                            <div class="slds-truncate">
                                <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format site.Params.DateFormat | default "January 2, 2006" }}</time>
                            </div>
                        </td>
                    </tr>
                    {{- end }}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{ end }}

