<!DOCTYPE html>
<html lang="{{ site.Language }}">
<head>
    {{- partial "head.html" . }}
</head>
<body>
    <div class="slds-container_large slds-container_center slds-p-around_xx-large">
        <div class="slds-text-align_center">
            <div class="slds-m-bottom_large">
                <span class="slds-text-heading_xx-large" style="color: #c23934;">404</span>
            </div>
            <h1 class="slds-text-heading_large slds-m-bottom_medium">Page Not Found</h1>
            <p class="slds-text-body_regular slds-m-bottom_large">
                The page you're looking for doesn't exist or has been moved.
            </p>
            <a href="{{ "" | absLangURL }}" class="slds-button slds-button_brand" aria-label="Return to {{ site.Title }} homepage">
                Return to Homepage
            </a>
        </div>
    </div>
</body>
</html>

